@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "section.css";
@import "scroll.css";
@import "timeline.css";

* {
    box-sizing: border-box;
}
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
p {
    font-family: 'Montserrat', sans-serif;
}
.font-playfair {
    font-family: 'Playfair Display', serif;
}
.text-footer {
    font-family: 'Montserrat', sans-serif;
}
/*skills css*/
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.containerM {
    width: 100%;
    background-color: #ddd;
  }
.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.bs {width: 80%; background-color: #9900cc;}
.js {width: 60%; background-color: #f44336;}
.php {width: 40%; background-color: #808080;}
.ns {width: 35%; background-color: #4CAF50;}